{% extends 'base.html' %} {% block content %}
<section id="schedule" class="active">
  <div class="schedule-section">
    <div class="section-header" style="padding: 0 0 2rem">
      <span class="section-tag">// CALENDÁRIO_SEMANAL</span>
      <h2 class="section-title">PROGRAMAÇÃO</h2>
      <div class="section-line"></div>
    </div>
    <div class="week-grid">
      <div class="day-col">
        <div class="day-header">SEG</div>
        <div class="class-card">
          <span class="class-name">BOXE</span
          ><span class="class-time">06:00</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
